body {
    background-image: url("../img/Group 612.png");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    /* background-color: #cccccc; */
   }


#CTA:hover {
    background-color: white !important;
    color: #034442 !important;
    box-shadow: 5px 5px 2px lightblue;
}